html,
body,
div,
p,
button,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}
button {
    appearance: none;
}
:root {
    font-size: 14px;
}
/* Utility */
.btn {
    font-size: calc(1.1rem + 0.1vw);
}
.btn:hover {
    background-color: lightblue;
    cursor: pointer;
}
.btn.active {
    background-color: blue;
    color: white;
}
/* Layout */
.page-container {
    min-height: 100svh;
}
.game-section {
    width:65%;
    max-width: 400px;
    margin: auto;
}
.header-section {
    padding-block: 1em;
    background-color: blue;
    color: white;
    min-width: 100%;
    text-align: center;
    pointer-events: none;
}
.board-title {
    text-align: center;
}
.board {
    flex: 0;
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    border: 3px black solid;
    user-select: none;
}
.board-item {
    aspect-ratio: 1/1;
    width: 10%;
    outline: 1px black solid;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.board-item:hover {
    background-color: bisque;
    opacity: 0.5;
}
.player-ship {
    background-color: lightblue;
}
.player-hit {
    background-color: red;
}
.player-missed {
    background-color: lime;
}
.ship-selection {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
